* {
    font-family: 'Arial';
}

html {
    transition: background 500ms;
}

.game {
    position: relative;
    text-align: center;
    margin-top: 100px;
}

.game-board {
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid #ccc; */
    margin: 0 auto;
}

.game-cell {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    border: 1px solid rgb(140, 213, 221);
    cursor: pointer;
}

.game-reset-btn {
    background-color: #2b9cff;
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin: 50px;
    cursor: pointer;
    font-size: 16px;
}

/* .game-reset-btn:hover {
    transform: scale(110%);
    transition: all 400ms;
} */

.game-reset-btn:hover {
    transform: scale(110%);
    transition: all 400ms;
}

.button-area {
    height: 20px;
    width: 50px;
    background-color: #cbcbcb;
    border-radius: 100px;
    padding: 4px;
    cursor: pointer;
    position: absolute;
    top: -16%;
    right: 1%;
}  


.active {
    background-color: white !important;
    translate: 30px;
}

.switch {
    height: 20px;
    width: 20px;
    background-color: #000000;
    border-radius: 100%;
    transition: all 400ms;
}

.dark {
    color: rgb(255, 255, 255);
    background-color: #242439;
}
